body  {
  background-color: #FFFABC;
  font-family: "Comic Neue", cursive;
  overflow-x: hidden;
}

/* Gradient background mixin converted to standard CSS */
.white-gradient {
  background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
}

.slider {
  position: relative;
}

.slider::before {
  left: 0;
  top: 0;
}

.slide-track {
  width: calc(250px * 14);
}

.text-stroke-black {
  -webkit-text-stroke: 1.5px #000000; /* Change the color and size as needed */
}

.text-stroke-white {
  -webkit-text-stroke: 1.5px #ffffff; /* Change the color and size as needed */
}